<header th:fragment="header" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
    <nav class="main-nav">
        <ul>
            <th:block sec:authorize="!isAuthenticated()">
<!--            <th:block th:unless="${@userHelperService.isAuthenticated()}">-->
<!--                <th:block th:unless="${@currentUser.isLoggedIn()}">-->
                <li>
                    <a th:href="@{/}">Home</a>
                </li>
                <li>
                    <a th:href="@{/users/login}">Login</a>
                </li>
                <li>
                    <a th:href="@{/users/register}">Register</a>
                </li>
                <li>
                    <a th:href="@{/about}">About</a>
                </li>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
<!--            <th:block th:if="${@userHelperService.isAuthenticated()}">-->
                <li>
                    <a th:href="@{/add-route}">Add new route</a>
                </li>
                <li>
                    <a th:href="@{/users/profile}">Profile</a>
                </li>
                <li sec:authorize="hasRole('ADMIN')">
<!--                <li th:if="${@userHelperService.hasRole('ADMIN')}">-->
                    <a th:href="@{/}">Admin</a>
                </li>
                <li>
                    <form th:method="post"
                            th:action="@{/users/logout}">
                        <input class="btn btn-link" type="submit" value="Logout"/>
                    </form>
                </li>
            </th:block>
        </ul>
    </nav>
</header>